<div class="fixed-bottom bg-body-secondary p-1" style="background-color:orange">
  <footer class="row text-center">
      <span>TrungHieu1812.</span>
      <span> Web Design Ideas Copyright © 2023.</span>
  </footer>
</div>