<div class="row ">
    <nav class="navbar navbar-expand-lg bg-dark">
        <div class="container-fluid ">
            <!-- <a class="navbar-brand " >MENU</a> -->
            <button class="navbar-toggler bg-info-subtle" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon "></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarSupportedContent">
                <img src="/images/Logo.png" alt="" style="width: 40px; height: 40px;">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item ">
                        <a class="nav-link fs-5  " aria-current="page" href="/">Dashboard</a>
                    </li>
                   
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle fs-5 " role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Products
                        </a>
                        <ul class="dropdown-menu">
                            <li class="nav-item">
                                <a class="dropdown-item " aria-current="page" href="/products">Products</a>
                            </li>
                            <li><a class="dropdown-item" href="/products/category">Category</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fs-5  " aria-current="page" href="/users">Users</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle fs-5 " role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Settings
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Banner</a></li>
                            <li><a class="dropdown-item" href="#">Info</a></li>
                        </ul>
                    </li>
                </ul>
                <!-- nfkekfe chỗ này -->
                
                <div class="nav-item dropdown text-end">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                        <i class="fa-solid fa-user fa-xs " style="color: #ffffff;"></i>
                        <%= Uname.username %>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li>
                            <a class="dropdown-item" href="" onClick='alert("Chức năng đang phát triển")'>Edit
                                Profile</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="" onClick='alert("Chức năng đang phát triển")'>Edit Profile
                                Picture</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="" onClick='alert("Chức năng đang phát triển")'>Change
                                Password</a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="/signout">Sign out</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</div>